In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
data = files.upload()

Saving sales_data_200.csv to sales_data_200.csv

In [ ]:
data.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OrderID       40 non-null     int64
 1   Date          40 non-null     datetime64[ns]
 2   CustomerName  40 non-null     object
 3   Product       40 non-null     object
 4   Category      40 non-null     object
 5   Quantity      40 non-null     int64
 6   UnitPrice     39 non-null     float64
 7   TotalPrice    36 non-null     float64
 8   Region        40 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 2.9+ KB

In [ ]:
data = pd.read_csv('sales_data_200.csv')
data

,OrderID,Date,CustomerName,Product,Category,Quantity,UnitPrice,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
2,1003,19/08/2025,Olivia Brown,Widget A,Widgets,NaN,20.0,NaN,East
3,1004,20/08/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
4,1005,22/08/2025,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
5,1006,23/08/2025,Isabella Martinez,Gadget A,Gadgets,3.0,NaN,120.0,South
6,1007,25/08/2025,Lucas Davis,Widget C,Widgets,2.0,30.0,60.0,East
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
9,1010,29/08/2025,Mia Anderson,Gadget C,Gadgets,2.0,50.0,100.0,South
10,1011,30/08/2025,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
11,1012,01/09/2025,Harper Taylor,Gadget A,Gadgets,1.0,40.0,40.0,West
12,1013,02/09/2025,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
13,1014,03/09/2025,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
14,1015,05/09/2025,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
15,1016,06/09/2025,Amelia Harris,Gadget C,Gadgets,NaN,50.0,NaN,West
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
17,1018,09/09/2025,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
18,1019,11/09/2025,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
19,1020,12/09/2025,Abigail Martinez,Gadget A,Gadgets,3.0,40.0,120.0,West
20,1021,14/09/2025,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
21,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
22,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
23,1024,18/09/2025,Liam Smith,Gadget B,Gadgets,NaN,35.0,NaN,South
24,1025,19/09/2025,Olivia Brown,Widget B,Widgets,4.0,25.0,100.0,East
25,1026,21/09/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
26,1027,22/09/2025,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
27,1028,24/09/2025,Isabella Martinez,Gadget A,Gadgets,3.0,40.0,120.0,South
28,1029,25/09/2025,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East
29,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
31,1032,30/09/2025,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
32,1033,01/10/2025,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
33,1034,03/10/2025,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
34,1035,04/10/2025,Logan Moore,Widget B,Widgets,NaN,25.0,NaN,North
35,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
37,1038,09/10/2025,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
38,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
39,1040,12/10/2025,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South

In [ ]:
data.head(10)

,OrderID,Date,CustomerName,Product,Category,Quantity,UnitPrice,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
2,1003,19/08/2025,Olivia Brown,Widget A,Widgets,NaN,20.0,NaN,East
3,1004,20/08/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
4,1005,22/08/2025,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
5,1006,23/08/2025,Isabella Martinez,Gadget A,Gadgets,3.0,NaN,120.0,South
6,1007,25/08/2025,Lucas Davis,Widget C,Widgets,2.0,30.0,60.0,East
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
9,1010,29/08/2025,Mia Anderson,Gadget C,Gadgets,2.0,50.0,100.0,South

In [ ]:
data.tail(10)

,OrderID,Date,CustomerName,Product,Category,Quantity,UnitPrice,TotalPrice,Region
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
31,1032,30/09/2025,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
32,1033,01/10/2025,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
33,1034,03/10/2025,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
34,1035,04/10/2025,Logan Moore,Widget B,Widgets,NaN,25.0,NaN,North
35,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
37,1038,09/10/2025,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
38,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
39,1040,12/10/2025,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South

In [ ]:
df = pd.read_csv('sales_data_200.csv')
rows, cols = df.shape
print(f"Rows: {rows}, Columns: {cols}")

Rows: 40, Columns: 9

In [ ]:
rows, cols = df.shape
print(f"Rows: {rows}, Columns: {cols}")

Rows: 40, Columns: 9

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OrderID       40 non-null     int64
 1   Date          40 non-null     object
 2   CustomerName  40 non-null     object
 3   Product       40 non-null     object
 4   Category      40 non-null     object
 5   Quantity      36 non-null     float64
 6   UnitPrice     39 non-null     float64
 7   TotalPrice    36 non-null     float64
 8   Region        40 non-null     object
dtypes: float64(3), int64(1), object(5)
memory usage: 2.9+ KB

In [ ]:
# Select only these 4 columns
selected_data = data[['OrderID', 'CustomerName', 'Product', 'TotalPrice']]

# Show the result
print(selected_data)

    OrderID       CustomerName   Product  TotalPrice
0      1001       Emma Johnson  Widget A        60.0
1      1002         Liam Smith  Gadget B        70.0
2      1003       Olivia Brown  Widget A         NaN
3      1004         Noah Jones  Gadget C       250.0
4      1005         Ava Garcia  Widget B       100.0
5      1006  Isabella Martinez  Gadget A       120.0
6      1007        Lucas Davis  Widget C        60.0
7      1008   Sophia Rodriguez  Gadget B       210.0
8      1009       Mason Wilson  Widget A        60.0
9      1010       Mia Anderson  Gadget C       100.0
10     1011       Ethan Thomas  Widget B       200.0
11     1012      Harper Taylor  Gadget A        40.0
12     1013        Logan Moore  Widget C        60.0
13     1014  Charlotte Jackson  Gadget B       105.0
14     1015       Elijah White  Widget A        40.0
15     1016      Amelia Harris  Gadget C         NaN
16     1017       James Martin  Widget A       100.0
17     1018    Evelyn Thompson  Gadget B       140.0
18     1019    Benjamin Garcia  Widget B       175.0
19     1020   Abigail Martinez  Gadget A       120.0
20     1021   Eliana Rodriguez  Widget C        60.0
21     1022      Alexander Lee  Gadget B       210.0
22     1023       Emma Johnson  Widget A        60.0
23     1024         Liam Smith  Gadget B         NaN
24     1025       Olivia Brown  Widget B       100.0
25     1026         Noah Jones  Gadget C       250.0
26     1027         Ava Garcia  Widget C        60.0
27     1028  Isabella Martinez  Gadget A       120.0
28     1029        Lucas Davis  Widget A        20.0
29     1030   Sophia Rodriguez  Gadget B       210.0
30     1031       Mason Wilson  Widget B       125.0
31     1032       Mia Anderson  Gadget C       150.0
32     1033       Ethan Thomas  Widget C       120.0
33     1034      Harper Taylor  Gadget A        80.0
34     1035        Logan Moore  Widget B         NaN
35     1036  Charlotte Jackson  Gadget B        35.0
36     1037       Elijah White  Widget A        60.0
37     1038      Amelia Harris  Gadget C       250.0
38     1039       James Martin  Widget C        60.0
39     1040    Evelyn Thompson  Gadget A       120.0

In [ ]:
# Filter rows where Region is North
north_orders = data[data['Region'] == 'North']

print(north_orders)

    OrderID        Date      CustomerName   Product Category  Quantity  \
0      1001  15/08/2025      Emma Johnson  Widget A  Widgets       3.0
4      1005  22/08/2025        Ava Garcia  Widget B  Widgets       4.0
8      1009  28/08/2025      Mason Wilson  Widget A  Widgets       3.0
12     1013  02/09/2025       Logan Moore  Widget C  Widgets       2.0
16     1017  08/09/2025      James Martin  Widget A  Widgets       5.0
20     1021  14/09/2025  Eliana Rodriguez  Widget C  Widgets       2.0
22     1023  16/09/2025      Emma Johnson  Widget A  Widgets       3.0
26     1027  22/09/2025        Ava Garcia  Widget C  Widgets       2.0
30     1031  28/09/2025      Mason Wilson  Widget B  Widgets       5.0
34     1035  04/10/2025       Logan Moore  Widget B  Widgets       NaN
38     1039  11/10/2025      James Martin  Widget C  Widgets       2.0

    UnitPrice  TotalPrice Region
0        20.0        60.0  North
4        25.0       100.0  North
8        20.0        60.0  North
12       30.0        60.0  North
16       20.0       100.0  North
20       30.0        60.0  North
22       20.0        60.0  North
26       30.0        60.0  North
30       25.0       125.0  North
34       25.0         NaN  North
38       30.0        60.0  North

In [ ]:
# Filter rows where Quantity > 5
Orders_bigger_than5 = data[data['Quantity'] > 5]

print(Orders_bigger_than5)

    OrderID        Date      CustomerName   Product Category  Quantity  \
7      1008  26/08/2025  Sophia Rodriguez  Gadget B  Gadgets       6.0
10     1011  30/08/2025      Ethan Thomas  Widget B  Widgets       8.0
18     1019  11/09/2025   Benjamin Garcia  Widget B  Widgets       7.0
21     1022  15/09/2025     Alexander Lee  Gadget B  Gadgets       6.0
29     1030  27/09/2025  Sophia Rodriguez  Gadget B  Gadgets       6.0

    UnitPrice  TotalPrice Region
7        35.0       210.0   West
10       25.0       200.0   East
18       25.0       175.0   East
21       35.0       210.0  South
29       35.0       210.0   West

In [ ]:
# Orders for Widget A OR Gadget B
Orders_for_Widget_A_OR_Gadget_B = data[(data['Product'] == 'Widget A') | (data['Product'] == 'Gadget B')]

print(Orders_for_Widget_A_OR_Gadget_B)

    OrderID        Date       CustomerName   Product Category  Quantity  \
0      1001  15/08/2025       Emma Johnson  Widget A  Widgets       3.0
1      1002  17/08/2025         Liam Smith  Gadget B  Gadgets       2.0
2      1003  19/08/2025       Olivia Brown  Widget A  Widgets       NaN
7      1008  26/08/2025   Sophia Rodriguez  Gadget B  Gadgets       6.0
8      1009  28/08/2025       Mason Wilson  Widget A  Widgets       3.0
13     1014  03/09/2025  Charlotte Jackson  Gadget B  Gadgets       3.0
14     1015  05/09/2025       Elijah White  Widget A  Widgets       2.0
16     1017  08/09/2025       James Martin  Widget A  Widgets       5.0
17     1018  09/09/2025    Evelyn Thompson  Gadget B  Gadgets       4.0
21     1022  15/09/2025      Alexander Lee  Gadget B  Gadgets       6.0
22     1023  16/09/2025       Emma Johnson  Widget A  Widgets       3.0
23     1024  18/09/2025         Liam Smith  Gadget B  Gadgets       NaN
28     1029  25/09/2025        Lucas Davis  Widget A  Widgets       1.0
29     1030  27/09/2025   Sophia Rodriguez  Gadget B  Gadgets       6.0
35     1036  06/10/2025  Charlotte Jackson  Gadget B  Gadgets       1.0
36     1037  08/10/2025       Elijah White  Widget A  Widgets       3.0

    UnitPrice  TotalPrice Region
0        20.0        60.0  North
1        35.0        70.0  South
2        20.0         NaN   East
7        35.0       210.0   West
8        20.0        60.0  North
13       35.0       105.0  South
14       20.0        40.0   East
16       20.0       100.0  North
17       35.0       140.0  South
21       35.0       210.0  South
22       20.0        60.0  North
23       35.0         NaN  South
28       20.0        20.0   East
29       35.0       210.0   West
35       35.0        35.0  South
36       20.0        60.0   East

In [ ]:
# TASK 3
#Check for missing values

print(data.isnull().sum())

OrderID         0
Date            0
CustomerName    0
Product         0
Category        0
Quantity        4
UnitPrice       1
TotalPrice      4
Region          0
dtype: int64

In [ ]:
#Count the number of null values per column
null_counts = data.isnull().sum()
print(null_counts)

OrderID         0
Date            0
CustomerName    0
Product         0
Category        0
Quantity        4
UnitPrice       1
TotalPrice      4
Region          0
dtype: int64

In [ ]:
	#Delete rows that have nulls or missing values
data_clean = data.dropna()
print(data_clean.shape)

(35, 9)

In [ ]:
cleaned = data.dropna()
print(cleaned)

    OrderID        Date       CustomerName   Product Category  Quantity  \
0      1001  15/08/2025       Emma Johnson  Widget A  Widgets       3.0
1      1002  17/08/2025         Liam Smith  Gadget B  Gadgets       2.0
3      1004  20/08/2025         Noah Jones  Gadget C  Gadgets       5.0
4      1005  22/08/2025         Ava Garcia  Widget B  Widgets       4.0
6      1007  25/08/2025        Lucas Davis  Widget C  Widgets       2.0
7      1008  26/08/2025   Sophia Rodriguez  Gadget B  Gadgets       6.0
8      1009  28/08/2025       Mason Wilson  Widget A  Widgets       3.0
9      1010  29/08/2025       Mia Anderson  Gadget C  Gadgets       2.0
10     1011  30/08/2025       Ethan Thomas  Widget B  Widgets       8.0
11     1012  01/09/2025      Harper Taylor  Gadget A  Gadgets       1.0
12     1013  02/09/2025        Logan Moore  Widget C  Widgets       2.0
13     1014  03/09/2025  Charlotte Jackson  Gadget B  Gadgets       3.0
14     1015  05/09/2025       Elijah White  Widget A  Widgets       2.0
16     1017  08/09/2025       James Martin  Widget A  Widgets       5.0
17     1018  09/09/2025    Evelyn Thompson  Gadget B  Gadgets       4.0
18     1019  11/09/2025    Benjamin Garcia  Widget B  Widgets       7.0
19     1020  12/09/2025   Abigail Martinez  Gadget A  Gadgets       3.0
20     1021  14/09/2025   Eliana Rodriguez  Widget C  Widgets       2.0
21     1022  15/09/2025      Alexander Lee  Gadget B  Gadgets       6.0
22     1023  16/09/2025       Emma Johnson  Widget A  Widgets       3.0
24     1025  19/09/2025       Olivia Brown  Widget B  Widgets       4.0
25     1026  21/09/2025         Noah Jones  Gadget C  Gadgets       5.0
26     1027  22/09/2025         Ava Garcia  Widget C  Widgets       2.0
27     1028  24/09/2025  Isabella Martinez  Gadget A  Gadgets       3.0
28     1029  25/09/2025        Lucas Davis  Widget A  Widgets       1.0
29     1030  27/09/2025   Sophia Rodriguez  Gadget B  Gadgets       6.0
30     1031  28/09/2025       Mason Wilson  Widget B  Widgets       5.0
31     1032  30/09/2025       Mia Anderson  Gadget C  Gadgets       3.0
32     1033  01/10/2025       Ethan Thomas  Widget C  Widgets       4.0
33     1034  03/10/2025      Harper Taylor  Gadget A  Gadgets       2.0
35     1036  06/10/2025  Charlotte Jackson  Gadget B  Gadgets       1.0
36     1037  08/10/2025       Elijah White  Widget A  Widgets       3.0
37     1038  09/10/2025      Amelia Harris  Gadget C  Gadgets       5.0
38     1039  11/10/2025       James Martin  Widget C  Widgets       2.0
39     1040  12/10/2025    Evelyn Thompson  Gadget A  Gadgets       3.0

    UnitPrice  TotalPrice Region
0        20.0        60.0  North
1        35.0        70.0  South
3        50.0       250.0   West
4        25.0       100.0  North
6        30.0        60.0   East
7        35.0       210.0   West
8        20.0        60.0  North
9        50.0       100.0  South
10       25.0       200.0   East
11       40.0        40.0   West
12       30.0        60.0  North
13       35.0       105.0  South
14       20.0        40.0   East
16       20.0       100.0  North
17       35.0       140.0  South
18       25.0       175.0   East
19       40.0       120.0   West
20       30.0        60.0  North
21       35.0       210.0  South
22       20.0        60.0  North
24       25.0       100.0   East
25       50.0       250.0   West
26       30.0        60.0  North
27       40.0       120.0  South
28       20.0        20.0   East
29       35.0       210.0   West
30       25.0       125.0  North
31       50.0       150.0  South
32       30.0       120.0   East
33       40.0        80.0   West
35       35.0        35.0  South
36       20.0        60.0   East
37       50.0       250.0   West
38       30.0        60.0  North
39       40.0       120.0  South

In [ ]:
# Delete rows with nulls in Quantity OR UnitPrice
clean_specific = data.dropna(subset=['Quantity', 'UnitPrice'])

(35, 9)

In [ ]:

clean_specific=data.dropna(subset=['Quantity','UnitPrice']).reset_index(drop=True)
clean_specific

,OrderID,Date,CustomerName,Product,Category,Quantity,UnitPrice,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
2,1004,20/08/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
3,1005,22/08/2025,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
4,1007,25/08/2025,Lucas Davis,Widget C,Widgets,2.0,30.0,60.0,East
5,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
6,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
7,1010,29/08/2025,Mia Anderson,Gadget C,Gadgets,2.0,50.0,100.0,South
8,1011,30/08/2025,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
9,1012,01/09/2025,Harper Taylor,Gadget A,Gadgets,1.0,40.0,40.0,West
10,1013,02/09/2025,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
11,1014,03/09/2025,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
12,1015,05/09/2025,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
13,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
14,1018,09/09/2025,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
15,1019,11/09/2025,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
16,1020,12/09/2025,Abigail Martinez,Gadget A,Gadgets,3.0,40.0,120.0,West
17,1021,14/09/2025,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
18,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
19,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
20,1025,19/09/2025,Olivia Brown,Widget B,Widgets,4.0,25.0,100.0,East
21,1026,21/09/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
22,1027,22/09/2025,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
23,1028,24/09/2025,Isabella Martinez,Gadget A,Gadgets,3.0,40.0,120.0,South
24,1029,25/09/2025,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East
25,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
26,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
27,1032,30/09/2025,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
28,1033,01/10/2025,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
29,1034,03/10/2025,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
30,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
31,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
32,1038,09/10/2025,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
33,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
34,1040,12/10/2025,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South

In [ ]:
data.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
dtype: bool

In [ ]:
data_no_duplicates = data.drop_duplicates()

In [ ]:
data_no_duplicates

,OrderID,Date,CustomerName,Product,Category,Quantity,UnitPrice,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
2,1003,19/08/2025,Olivia Brown,Widget A,Widgets,NaN,20.0,NaN,East
3,1004,20/08/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
4,1005,22/08/2025,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
5,1006,23/08/2025,Isabella Martinez,Gadget A,Gadgets,3.0,NaN,120.0,South
6,1007,25/08/2025,Lucas Davis,Widget C,Widgets,2.0,30.0,60.0,East
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
9,1010,29/08/2025,Mia Anderson,Gadget C,Gadgets,2.0,50.0,100.0,South
10,1011,30/08/2025,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
11,1012,01/09/2025,Harper Taylor,Gadget A,Gadgets,1.0,40.0,40.0,West
12,1013,02/09/2025,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
13,1014,03/09/2025,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
14,1015,05/09/2025,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
15,1016,06/09/2025,Amelia Harris,Gadget C,Gadgets,NaN,50.0,NaN,West
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
17,1018,09/09/2025,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
18,1019,11/09/2025,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
19,1020,12/09/2025,Abigail Martinez,Gadget A,Gadgets,3.0,40.0,120.0,West
20,1021,14/09/2025,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
21,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
22,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
23,1024,18/09/2025,Liam Smith,Gadget B,Gadgets,NaN,35.0,NaN,South
24,1025,19/09/2025,Olivia Brown,Widget B,Widgets,4.0,25.0,100.0,East
25,1026,21/09/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
26,1027,22/09/2025,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
27,1028,24/09/2025,Isabella Martinez,Gadget A,Gadgets,3.0,40.0,120.0,South
28,1029,25/09/2025,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East
29,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
31,1032,30/09/2025,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
32,1033,01/10/2025,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
33,1034,03/10/2025,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
34,1035,04/10/2025,Logan Moore,Widget B,Widgets,NaN,25.0,NaN,North
35,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
37,1038,09/10/2025,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
38,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
39,1040,12/10/2025,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South

In [ ]:
#Task 5 # Rename column
data_renamed = data.rename(columns={'CustomerName': 'Customer'})
print(data_renamed.columns)

Index(['OrderID', 'Date', 'Customer', 'Product', 'Category', 'Quantity',
       'UnitPrice', 'TotalPrice', 'Region'],
      dtype='object')

In [ ]:
data_renamed

,OrderID,Date,Customer,Product,Category,Quantity,UnitPrice,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
2,1003,19/08/2025,Olivia Brown,Widget A,Widgets,NaN,20.0,NaN,East
3,1004,20/08/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
4,1005,22/08/2025,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
5,1006,23/08/2025,Isabella Martinez,Gadget A,Gadgets,3.0,NaN,120.0,South
6,1007,25/08/2025,Lucas Davis,Widget C,Widgets,2.0,30.0,60.0,East
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
9,1010,29/08/2025,Mia Anderson,Gadget C,Gadgets,2.0,50.0,100.0,South
10,1011,30/08/2025,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
11,1012,01/09/2025,Harper Taylor,Gadget A,Gadgets,1.0,40.0,40.0,West
12,1013,02/09/2025,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
13,1014,03/09/2025,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
14,1015,05/09/2025,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
15,1016,06/09/2025,Amelia Harris,Gadget C,Gadgets,NaN,50.0,NaN,West
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
17,1018,09/09/2025,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
18,1019,11/09/2025,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
19,1020,12/09/2025,Abigail Martinez,Gadget A,Gadgets,3.0,40.0,120.0,West
20,1021,14/09/2025,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
21,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
22,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
23,1024,18/09/2025,Liam Smith,Gadget B,Gadgets,NaN,35.0,NaN,South
24,1025,19/09/2025,Olivia Brown,Widget B,Widgets,4.0,25.0,100.0,East
25,1026,21/09/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
26,1027,22/09/2025,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
27,1028,24/09/2025,Isabella Martinez,Gadget A,Gadgets,3.0,40.0,120.0,South
28,1029,25/09/2025,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East
29,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
31,1032,30/09/2025,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
32,1033,01/10/2025,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
33,1034,03/10/2025,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
34,1035,04/10/2025,Logan Moore,Widget B,Widgets,NaN,25.0,NaN,North
35,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
37,1038,09/10/2025,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
38,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
39,1040,12/10/2025,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South

In [ ]:
#    Rename UnitPrice to PricePerUnit.
data_renamed = data.rename(columns={'UnitPrice': 'PricePerUnit'})
print(data_renamed.columns)

Index(['OrderID', 'Date', 'CustomerName', 'Product', 'Category', 'Quantity',
       'PricePerUnit', 'TotalPrice', 'Region'],
      dtype='object')

In [ ]:
data_renamed

,OrderID,Date,CustomerName,Product,Category,Quantity,PricePerUnit,TotalPrice,Region
0,1001,15/08/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
1,1002,17/08/2025,Liam Smith,Gadget B,Gadgets,2.0,35.0,70.0,South
2,1003,19/08/2025,Olivia Brown,Widget A,Widgets,NaN,20.0,NaN,East
3,1004,20/08/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
4,1005,22/08/2025,Ava Garcia,Widget B,Widgets,4.0,25.0,100.0,North
5,1006,23/08/2025,Isabella Martinez,Gadget A,Gadgets,3.0,NaN,120.0,South
6,1007,25/08/2025,Lucas Davis,Widget C,Widgets,2.0,30.0,60.0,East
7,1008,26/08/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
8,1009,28/08/2025,Mason Wilson,Widget A,Widgets,3.0,20.0,60.0,North
9,1010,29/08/2025,Mia Anderson,Gadget C,Gadgets,2.0,50.0,100.0,South
10,1011,30/08/2025,Ethan Thomas,Widget B,Widgets,8.0,25.0,200.0,East
11,1012,01/09/2025,Harper Taylor,Gadget A,Gadgets,1.0,40.0,40.0,West
12,1013,02/09/2025,Logan Moore,Widget C,Widgets,2.0,30.0,60.0,North
13,1014,03/09/2025,Charlotte Jackson,Gadget B,Gadgets,3.0,35.0,105.0,South
14,1015,05/09/2025,Elijah White,Widget A,Widgets,2.0,20.0,40.0,East
15,1016,06/09/2025,Amelia Harris,Gadget C,Gadgets,NaN,50.0,NaN,West
16,1017,08/09/2025,James Martin,Widget A,Widgets,5.0,20.0,100.0,North
17,1018,09/09/2025,Evelyn Thompson,Gadget B,Gadgets,4.0,35.0,140.0,South
18,1019,11/09/2025,Benjamin Garcia,Widget B,Widgets,7.0,25.0,175.0,East
19,1020,12/09/2025,Abigail Martinez,Gadget A,Gadgets,3.0,40.0,120.0,West
20,1021,14/09/2025,Eliana Rodriguez,Widget C,Widgets,2.0,30.0,60.0,North
21,1022,15/09/2025,Alexander Lee,Gadget B,Gadgets,6.0,35.0,210.0,South
22,1023,16/09/2025,Emma Johnson,Widget A,Widgets,3.0,20.0,60.0,North
23,1024,18/09/2025,Liam Smith,Gadget B,Gadgets,NaN,35.0,NaN,South
24,1025,19/09/2025,Olivia Brown,Widget B,Widgets,4.0,25.0,100.0,East
25,1026,21/09/2025,Noah Jones,Gadget C,Gadgets,5.0,50.0,250.0,West
26,1027,22/09/2025,Ava Garcia,Widget C,Widgets,2.0,30.0,60.0,North
27,1028,24/09/2025,Isabella Martinez,Gadget A,Gadgets,3.0,40.0,120.0,South
28,1029,25/09/2025,Lucas Davis,Widget A,Widgets,1.0,20.0,20.0,East
29,1030,27/09/2025,Sophia Rodriguez,Gadget B,Gadgets,6.0,35.0,210.0,West
30,1031,28/09/2025,Mason Wilson,Widget B,Widgets,5.0,25.0,125.0,North
31,1032,30/09/2025,Mia Anderson,Gadget C,Gadgets,3.0,50.0,150.0,South
32,1033,01/10/2025,Ethan Thomas,Widget C,Widgets,4.0,30.0,120.0,East
33,1034,03/10/2025,Harper Taylor,Gadget A,Gadgets,2.0,40.0,80.0,West
34,1035,04/10/2025,Logan Moore,Widget B,Widgets,NaN,25.0,NaN,North
35,1036,06/10/2025,Charlotte Jackson,Gadget B,Gadgets,1.0,35.0,35.0,South
36,1037,08/10/2025,Elijah White,Widget A,Widgets,3.0,20.0,60.0,East
37,1038,09/10/2025,Amelia Harris,Gadget C,Gadgets,5.0,50.0,250.0,West
38,1039,11/10/2025,James Martin,Widget C,Widgets,2.0,30.0,60.0,North
39,1040,12/10/2025,Evelyn Thompson,Gadget A,Gadgets,3.0,40.0,120.0,South

In [ ]:
    # Convert Date to a date/time type.
data['Date'] = pd.to_datetime(data['Date'], dayfirst=True)

# Verify
print(data['Date'].head())
print("\nData types:")
print(data.dtypes)

0   2025-08-15
1   2025-08-17
2   2025-08-19
3   2025-08-20
4   2025-08-22
Name: Date, dtype: datetime64[ns]

Data types:
OrderID                  int64
Date            datetime64[ns]
CustomerName            object
Product                 object
Category                object
Quantity               float64
UnitPrice              float64
TotalPrice             float64
Region                  object
dtype: object

In [ ]:
#convert quantity to integer but first change nulls for zeros
# Option 1: Fill nulls with 0, then convert
data['Quantity'] = data['Quantity'].fillna(0).astype(int)

# Check result
print(data['Quantity'].head())
print("\nData type:", data['Quantity'].dtype)

0    3
1    2
2    0
3    5
4    4
Name: Quantity, dtype: int64

Data type: int64

In [ ]:
# Fill nulls, then convert
data['TotalPrice'] = data['TotalPrice'].fillna(0.0).astype(float)
data.dtypes

OrderID                  int64
Date            datetime64[ns]
CustomerName            object
Product                 object
Category                object
Quantity                 int64
UnitPrice              float64
TotalPrice             float64
Region                  object
dtype: object

In [ ]:
data

,OrderID,Date,CustomerName,Product,Category,Quantity,UnitPrice,TotalPrice,Region
0,1001,2025-08-15,Emma Johnson,Widget A,Widgets,3,20.0,60.0,North
1,1002,2025-08-17,Liam Smith,Gadget B,Gadgets,2,35.0,70.0,South
2,1003,2025-08-19,Olivia Brown,Widget A,Widgets,0,20.0,0.0,East
3,1004,2025-08-20,Noah Jones,Gadget C,Gadgets,5,50.0,250.0,West
4,1005,2025-08-22,Ava Garcia,Widget B,Widgets,4,25.0,100.0,North
5,1006,2025-08-23,Isabella Martinez,Gadget A,Gadgets,3,NaN,120.0,South
6,1007,2025-08-25,Lucas Davis,Widget C,Widgets,2,30.0,60.0,East
7,1008,2025-08-26,Sophia Rodriguez,Gadget B,Gadgets,6,35.0,210.0,West
8,1009,2025-08-28,Mason Wilson,Widget A,Widgets,3,20.0,60.0,North
9,1010,2025-08-29,Mia Anderson,Gadget C,Gadgets,2,50.0,100.0,South
10,1011,2025-08-30,Ethan Thomas,Widget B,Widgets,8,25.0,200.0,East
11,1012,2025-09-01,Harper Taylor,Gadget A,Gadgets,1,40.0,40.0,West
12,1013,2025-09-02,Logan Moore,Widget C,Widgets,2,30.0,60.0,North
13,1014,2025-09-03,Charlotte Jackson,Gadget B,Gadgets,3,35.0,105.0,South
14,1015,2025-09-05,Elijah White,Widget A,Widgets,2,20.0,40.0,East
15,1016,2025-09-06,Amelia Harris,Gadget C,Gadgets,0,50.0,0.0,West
16,1017,2025-09-08,James Martin,Widget A,Widgets,5,20.0,100.0,North
17,1018,2025-09-09,Evelyn Thompson,Gadget B,Gadgets,4,35.0,140.0,South
18,1019,2025-09-11,Benjamin Garcia,Widget B,Widgets,7,25.0,175.0,East
19,1020,2025-09-12,Abigail Martinez,Gadget A,Gadgets,3,40.0,120.0,West
20,1021,2025-09-14,Eliana Rodriguez,Widget C,Widgets,2,30.0,60.0,North
21,1022,2025-09-15,Alexander Lee,Gadget B,Gadgets,6,35.0,210.0,South
22,1023,2025-09-16,Emma Johnson,Widget A,Widgets,3,20.0,60.0,North
23,1024,2025-09-18,Liam Smith,Gadget B,Gadgets,0,35.0,0.0,South
24,1025,2025-09-19,Olivia Brown,Widget B,Widgets,4,25.0,100.0,East
25,1026,2025-09-21,Noah Jones,Gadget C,Gadgets,5,50.0,250.0,West
26,1027,2025-09-22,Ava Garcia,Widget C,Widgets,2,30.0,60.0,North
27,1028,2025-09-24,Isabella Martinez,Gadget A,Gadgets,3,40.0,120.0,South
28,1029,2025-09-25,Lucas Davis,Widget A,Widgets,1,20.0,20.0,East
29,1030,2025-09-27,Sophia Rodriguez,Gadget B,Gadgets,6,35.0,210.0,West
30,1031,2025-09-28,Mason Wilson,Widget B,Widgets,5,25.0,125.0,North
31,1032,2025-09-30,Mia Anderson,Gadget C,Gadgets,3,50.0,150.0,South
32,1033,2025-10-01,Ethan Thomas,Widget C,Widgets,4,30.0,120.0,East
33,1034,2025-10-03,Harper Taylor,Gadget A,Gadgets,2,40.0,80.0,West
34,1035,2025-10-04,Logan Moore,Widget B,Widgets,0,25.0,0.0,North
35,1036,2025-10-06,Charlotte Jackson,Gadget B,Gadgets,1,35.0,35.0,South
36,1037,2025-10-08,Elijah White,Widget A,Widgets,3,20.0,60.0,East
37,1038,2025-10-09,Amelia Harris,Gadget C,Gadgets,5,50.0,250.0,West
38,1039,2025-10-11,James Martin,Widget C,Widgets,2,30.0,60.0,North
39,1040,2025-10-12,Evelyn Thompson,Gadget A,Gadgets,3,40.0,120.0,South

In [ ]:
# Filter for Gadgets AND TotalPrice > 150
filtered = data[(data['Category'] == 'Gadgets') & (data['TotalPrice'] > 150)]

print(filtered)

    OrderID       Date      CustomerName   Product Category  Quantity  \
3      1004 2025-08-20        Noah Jones  Gadget C  Gadgets         5
7      1008 2025-08-26  Sophia Rodriguez  Gadget B  Gadgets         6
21     1022 2025-09-15     Alexander Lee  Gadget B  Gadgets         6
25     1026 2025-09-21        Noah Jones  Gadget C  Gadgets         5
29     1030 2025-09-27  Sophia Rodriguez  Gadget B  Gadgets         6
37     1038 2025-10-09     Amelia Harris  Gadget C  Gadgets         5

    UnitPrice  TotalPrice Region
3        50.0       250.0   West
7        35.0       210.0   West
21       35.0       210.0  South
25       50.0       250.0   West
29       35.0       210.0   West
37       50.0       250.0   West

In [ ]:
# Sort by TotalPrice descending
sorted_data = data.sort_values('TotalPrice', ascending=False)

print(sorted_data[['OrderID', 'Product', 'TotalPrice']].head(10))

    OrderID   Product  TotalPrice
3      1004  Gadget C       250.0
37     1038  Gadget C       250.0
25     1026  Gadget C       250.0
7      1008  Gadget B       210.0
29     1030  Gadget B       210.0
21     1022  Gadget B       210.0
10     1011  Widget B       200.0
18     1019  Widget B       175.0
31     1032  Gadget C       150.0
17     1018  Gadget B       140.0

In [ ]:
top_10 = data.sort_values('TotalPrice', ascending=False).head(10)
print(top_10[['OrderID', 'CustomerName', 'Product', 'TotalPrice']])

    OrderID      CustomerName   Product  TotalPrice
3      1004        Noah Jones  Gadget C       250.0
37     1038     Amelia Harris  Gadget C       250.0
25     1026        Noah Jones  Gadget C       250.0
7      1008  Sophia Rodriguez  Gadget B       210.0
29     1030  Sophia Rodriguez  Gadget B       210.0
21     1022     Alexander Lee  Gadget B       210.0
10     1011      Ethan Thomas  Widget B       200.0
18     1019   Benjamin Garcia  Widget B       175.0
31     1032      Mia Anderson  Gadget C       150.0
17     1018   Evelyn Thompson  Gadget B       140.0

In [ ]:
last_5 = data.sort_values('Date', ascending=False).head(5)
print(last_5[['Date','OrderID', 'CustomerName', 'Product', 'TotalPrice']])

         Date  OrderID       CustomerName   Product  TotalPrice
39 2025-10-12     1040    Evelyn Thompson  Gadget A       120.0
38 2025-10-11     1039       James Martin  Widget C        60.0
37 2025-10-09     1038      Amelia Harris  Gadget C       250.0
36 2025-10-08     1037       Elijah White  Widget A        60.0
35 2025-10-06     1036  Charlotte Jackson  Gadget B        35.0

In [ ]:
# Calculate total sales per region
sales_by_region = data.groupby('Region')['TotalPrice'].sum()

print(sales_by_region)

Region
East      775.0
North     745.0
South    1170.0
West     1410.0
Name: TotalPrice, dtype: float64

In [ ]:
# Average TotalPrice per Product
avg_price = data.groupby('Product')['TotalPrice'].mean()

print(avg_price)

In [ ]:
# Count orders per customer
orders_per_customer = data['CustomerName'].value_counts()

print(orders_per_customer)

CustomerName
Emma Johnson         2
Liam Smith           2
Olivia Brown         2
Noah Jones           2
Ava Garcia           2
Isabella Martinez    2
Lucas Davis          2
Sophia Rodriguez     2
Mason Wilson         2
Mia Anderson         2
Ethan Thomas         2
Harper Taylor        2
Logan Moore          2
Charlotte Jackson    2
Elijah White         2
Amelia Harris        2
James Martin         2
Evelyn Thompson      2
Benjamin Garcia      1
Abigail Martinez     1
Eliana Rodriguez     1
Alexander Lee        1
Name: count, dtype: int64